<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', store_path %></li>
        <% if session[:user_id] %>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </ul>
    </nav>
  </header>
  <% flash.each do |message_type, message| %>
    <ul class="collection">
      <li class="collection-item"><%= message %></li>
    </ul>
  <% end %>

  <%= yield %>

</body>
</html>
